<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<nav style="background-color: pink">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
</nav>
<section>
    <p th:text="${UID}">User ID :</p>
    <p>This is a simple Java web application home page. Enjoy exploring!</p>
    <button onclick="onButtonClick(1)">Button 1</button>
    <button onclick="onButtonClick(2)">Button 2</button>
</section>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
